.search-box{
    margin: 15px 0;
}
.user{
    width: 100%;
    max-width: 120px;
    margin: 0 ;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}