@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	height: 100vh;
	width: 100vw;
}
.root{
	max-width: 75%;
}
a{
	text-decoration: none;
	color: #000;
}
.hidden{
	display: none;
}
.top-menu{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.logo-frame{
	padding: 0 5px;
}
.logo{
	width: 100%;
	align-items: center;
}
.logo i{
	position: relative;
	top: -4px;
}
.menu{
	width: 80%;
	flex-direction: column;
}
.menu-frame{
	justify-content: center;
}
.buy-house-option , .to-hide-option{
	padding: 2px 4px;
	margin: 0 10px 12px 0;
	border-bottom: 3px solid rgba(0,0,0, 0);
}
/* não funciona direito, seleção do item de compra ou aluguel */
.buy-house-option:active, .to-hide-option:active{
	border-bottom: 3px solid #000;
}
.box-search{
	display: flex;
  }
  .search{
	display: flex;
	background: #f3f3f3;
	height: 50px;
	padding: 15px;
	border-radius: 20px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
  }
  .hidden{
	visibility: hidden;
	display: none;
  }
  .option{
	width: 200px;
	height: 25px;
	display: flex;
	justify-content: center;
	flex-direction: column;
 }
  .choose{
	height: 42px;
	width: 110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 15px;
	border-radius: 20px;
	
  }
  .option:hover{
	background: rgba(0 ,0, 0, .2);
	border-radius: 20px;

  }
  .option:hover p{
	  color: #000;
  }
 .option:last-child{
	border: 0;
  }
  .choose p{
	font-size: .8rem;
	color: rgba(0, 0, 0, .3);
	margin: 0;
  }
  .option .subtitle{
	font-size: .7rem;
  }
  .search-btn{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	margin-left: 25px;
  }
  .search-btn input{
	width: 40px;
	height: 40px;
	margin: 0 0 0 165px;
	border-radius: 25px;
	outline: none;
	border: 0;
	text-align: center;
	background: #22c;
	color: #fff;
	cursor: pointer;
  }
.btn-input{
	position: absolute;
}
.search-btn i{
    cursor: pointer;
	position: relative;
	right: 5px;
}
.user-box{
	justify-content: flex-end;
	align-items: center;
}
.user-box i{
	cursor: pointer;
	font-size: 2rem;
	margin-top:2px;
	color: #000;
}
.user-toggle{
	padding: 4px 8px;
	border-radius: 20px;
}
/* conteudo central */


/* rodapé */
.footer{
	background: #33415C;
	padding: 20px 0 10px 0;
	width: 100%;

}
.box-info{
	width: 250px;
}
.box-info ul{
	list-style: none;
	padding: 10px 0;
}
.box-info ul li a{
	color: #f3f3f3;
}
.box-info ul li a:hover{
	color: #02c;
}