*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    width: 100%;
    max-width: 920px;
}
.search-box{
    margin: 15px 0;
}
.user{
    width: 100%;
    max-width: 120px;
    margin: 0 ;
}
